* {
	margin: 0px;
	padding: 0px;
}

html {
	font-family: "Helvetica";
}

a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #89827E;
}

body {
	min-width: 1100px;
	margin: 0px;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(2,2,2,0.05) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(2,2,2,0.05))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(2,2,2,0.05) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(2,2,2,0.05) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(2,2,2,0.05) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(2,2,2,0.05) 100%); /* W3C */
}

header {
	color: white;
	height: 75px;
}

#logo {
	margin: 10px 0 0 20px;
}
	
.blackBox {
	color: white;

	background: #8B8B8B;
	background: linear-gradient(top,  #474747,  #000000);
	background: -ms-linear-gradient(top,  #474747,  #000000);
	background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#000000));
	background: -moz-linear-gradient(top,  #474747,  #000000);

	-webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.63);
	-moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 0.63);
	box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 0.63);
}

#caption {
	display: inline-block;
	font-size: 8px;
	font-style: italic;
}

.inline {
	display: inline-block;
}

#content {
	background: url("../images/capighost2BG.png") no-repeat;
	background-position: center;
	background-size: 300px;
	width: 600px;
	margin: 20px auto;
} 

#messages {
	min-height: 30px;
}

#messages > div {
	margin: 1px 8px;
	padding: 2px 5px 2px 5px;
}

#messages > div:first-child {
	display: inline;
	float: left;
}

#messages > div:nth-child(2) {
	display: inline;
	float: right;
}

#word, #score {
	font-size: 20px;
	font-weight: bold;
}

#inputArea {
	margin-top: 30px;
	text-align: center;
}

#replay {
	width: 120px;
}

#replay:hover {
	opacity: 0.6;
}

#currentWord {
	text-align: center;
	padding: 10px;
	font-size: 40px;
}

#inputArea > div {
	padding: 15px;
	text-align: center;
}

#command,#userInput {
	display: inline-block;
}

#command {
	margin-right: 30px;
	font-style: italic;
}

#userInput input{
	font-size: 50px;
	width: 300px;

	background-color: transparent;
	border: none;
	text-align: center;
}

#userInput input:focus{
	border: none;
	outline: 0;
}
.historyBox {
	min-height: 50px;
	margin: 4px;
	margin-top: 40px;
	border: black 2px solid;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.historyBox > div:nth-child(2) {
	margin: 25px 10px;
}

.historyBox > div:first-child {
	position: absolute;
	font-weight: bold;
	margin: -10px 0 0 15;
	padding: 0 4px;
	background-color: #EDEDED;
}

.historyBox > div:nth-child(2) {
	text-align: center;
}

#verbTenses li {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 15px;
}

.historyBox li {
	display: inline-block;
	width: 30%;
	text-align: center;
	margin-top: 2px;
}

#wordWrapper {
	height: 106px;
	overflow: auto;
}

#wordWrapper > ul:first-child {
	font-weight: bold;
}

#wordWrapper ul li{
	margin-left: 15px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 30px;
	background-position: right;
}

.correct {
	background-image: url("../images/correct.png");
}

.wrong {
	background-image: url("../images/wrong.png");
}

.hidden {
	display: none;
}

#results {
	height: 200px;
	display: none;
	text-align: center;
}

#results > a {
	display: block;
	font-size: 23px;
}

.disableRetryMissed {
	color: grey;
	opacity: 0.2;
}

.disableRetryMissed:hover {
	cursor: not-allowed;
}

#results a:first-child{
	margin: 65px 0 10px 0;
}

#menu {
	float: right;
	margin-right: 40px;
	margin-top: 20px;
 	height: 100%;
 	font-family: "Berlin Sans FB";
}

#menu > a {
	font-size: 30px;
	margin-right: 20px;
	padding-left: 20px;
}

#github {
	text-align: right;
}

#meaning {
	display: block;
	color: black;
	margin-top: 10px;
	font-size: 10px;
	font-weight: bold;
}

.roundIcon {
	position: absolute;
	width: 50px;
	height: 31px;
	background: url("../images/buttonsprites.png") no-repeat;
	margin-left: -50px;
}
#r1 .roundIcon {
	background-position: -5px 0px;
}
#r2 .roundIcon {
	background-position: -60px 0px;
}
#r3 .roundIcon {
	background-position: -110px 0px;
}
#r4 .roundIcon {
	background-position: -160px 0px;
}
#r5 .roundIcon {
	background-position: -210px 0px;
}
#r6 .roundIcon {
	background-position: -260px 0px;
}
#r7 .roundIcon {
	background-position: -310px 0px;
}

#gap{
	height: 70px;
}

#submenu{
	color: black;
	height: 70px;
	width: 100%;
	position: absolute;

	background: #8B8B8B;
	background: linear-gradient(top,  #FFFFFF,  #D6D6D6);
	background: -ms-linear-gradient(top,  #FFFFFF,  #D6D6D6);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D6D6D6));
	background: -moz-linear-gradient(top,  #FFFFFF,  #D6D6D6);

	-webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.63);
	-moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 0.63);
	box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 0.63);
}

#submenu a {
	color: black;
}

#submenu a:hover{
	color: #89827E;
}

#submenu > div {
	margin-right: 20px;
}

#rounds {
	float: right;
}

#rounds a {
	font-size: 16px;
	text-align: center;
	display: inline-block;
	padding: 6px 12px 6px 55px;
	margin: 10px 15px 0 0;
	border: solid 2px transparent;
}

#rounds a > div {
	font-size: 10px;
}

#rounds .active {
	border: solid 2px #89827E;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.disabled {
	color: grey;
}

.disabled:hover{
	color: grey;
	cursor: not-allowed;
}